@model JobBoard.UI.MVC.Models.ChangePasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Change Password";
}

<div class="flexbox">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <input class="btn btn-cancel" type="button" value="Cancel" onclick="window.location.href='@Url.Action("Edit", "UserDetails", new { id = User.Identity.GetUserId() }, null)';" />
            </div>
            <div class="col-md-3"></div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}