@model IEnumerable<JobBoard.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Account Info";
}

<h2 class="text-center" style="padding-top: 20px;">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="tablebody">
    <table class="table display" id="tablejs">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th class="notOrderable">

                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tablejs').dataTable(
                {
                    "order": [[0, "asc"]],
                    "columnDefs": [{
                        "targets": 'notOrderable',
                        "searchable": false,
                        "orderable": false,
                    }]
                }
            );
        })
    </script>
}